@{
    ViewData["Title"] = "About us";
}
<h2>@ViewData["Title"]</h2>

<p>Founded in August of 2017 and based in Thailand, Bangkok, Poppy Cat is a trusted community marketplace for cat to  book accommodations around the Bangkok — online or from a mobile phone or tablet.</p>
