@{
    ViewBag.Title = "Cafe";
}
<h2>@ViewBag.Title.</h2>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <div class="col-lg-4" style="font-size:xx-small">
            <a href="/Cafe/CataholicCafe"><img src="https://f.ptcdn.info/427/006/000/1371793658-E82-o.jpg" style="width:300px; height:200px;"></a>
            <div style="font-size:medium">
                <span>$50</span>
                <span>Cataholic Cafe</span>
                <div style="font-size:xx-small">
                    <div class="glyphicon glyphicon-star" style="font-size:small"></div>
                    <div class="glyphicon glyphicon-star" style="font-size:small"></div>
                    <div class="glyphicon glyphicon-star" style="font-size:small"></div>
                    <div class="glyphicon glyphicon-star" style="font-size:small"></div>
                    <div class="glyphicon glyphicon-star-empty" style="font-size:small"></div>
                    <span style="font-size:small">251 reviews</span>
                </div>
            </div>
        </div>

        <div class="col-lg-4" style="font-size:xx-small">
            <img src="https://f.ptcdn.info/845/019/000/1402148128-IMG1901res-o.jpg" style="width:300px; height:200px;">
            <div style="font-size:medium">
                <span>$150</span>
                <span>Caturday Cat Cafe</span>
                <div style="font-size:xx-small">
                    <div class="glyphicon glyphicon-star" style="font-size:small"></div>
                    <div class="glyphicon glyphicon-star" style="font-size:small"></div>
                    <div class="glyphicon glyphicon-star" style="font-size:small"></div>
                    <div class="glyphicon glyphicon-star" style="font-size:small"></div>
                    <div class="glyphicon glyphicon-star" style="font-size:small"></div>
                    <span style="font-size:small">1058 reviews</span>
                </div>
            </div>
        </div>

        <div class="col-lg-4" style="font-size:xx-small">
            <img src="http://ed.files-media.com/ud/gal/dcp/29/86392/IMG_3179-600x400.JPG" style="width:300px; height:200px;">
            <div style="font-size:medium">
                <span>$170</span>
                <span>Makura Cat Cafe</span>
                <div style="font-size:xx-small">
                    <div class="glyphicon glyphicon-star" style="font-size:small"></div>
                    <div class="glyphicon glyphicon-star" style="font-size:small"></div>
                    <div class="glyphicon glyphicon-star" style="font-size:small"></div>
                    <div class="glyphicon glyphicon-star" style="font-size:small"></div>
                    <div class="glyphicon glyphicon-star" style="font-size:small"></div>
                    <span style="font-size:small">2005 reviews</span>
                </div>
            </div>
        </div>

        <div class="col-lg-4" style="font-size:xx-small">
            <img src="http://ipick.com/htpic/c8d8ed69b7fd1e85ebad6cbf2ea0121f/2000" style="width:300px; height:200px;">
            <div style="font-size:medium">
                <span>$80</span>
                <span>Purr Cat Cafe Club</span>
                <div style="font-size:xx-small">
                    <div class="glyphicon glyphicon-star" style="font-size:small"></div>
                    <div class="glyphicon glyphicon-star" style="font-size:small"></div>
                    <div class="glyphicon glyphicon-star" style="font-size:small"></div>
                    <div class="glyphicon glyphicon-star" style="font-size:small"></div>
                    <div class="glyphicon glyphicon-star-empty" style="font-size:small"></div>
                    <span style="font-size:small">582 reviews</span>
                </div>
            </div>
        </div>

        <div class="col-lg-4" style="font-size:xx-small">
            <img src="http://p4.isanook.com/tr/0/rp/r/w600/ya0xa0m1w0/aHR0cDovL3A0LmlzYW5vb2suY29tL3RyLzAvdWQvMjc5LzEzOTU4OTMvNTIuanBn.jpg" style="width:300px; height:200px;">
            <div style="font-size:medium">
                <span>$120</span>
                <span>Cat Cafe by Dome</span>
                <div style="font-size:xx-small">
                    <div class="glyphicon glyphicon-star" style="font-size:small"></div>
                    <div class="glyphicon glyphicon-star" style="font-size:small"></div>
                    <div class="glyphicon glyphicon-star" style="font-size:small"></div>
                    <div class="glyphicon glyphicon-star" style="font-size:small"></div>
                    <div class="glyphicon glyphicon-star-empty" style="font-size:small"></div>
                    <span style="font-size:small">749 reviews</span>
                </div>
            </div>
        </div>

        <div class="col-lg-4" style="font-size:xx-small">
            <img src="http://p4.isanook.com/tr/0/rp/r/w525/ya0xa0m1w0/aHR0cDovL3A0LmlzYW5vb2suY29tL3RyLzAvdWQvMjc5LzEzOTU4OTMvNjMuanBn.jpg" style="width:300px; height:200px;">
            <div style="font-size:medium">
                <span>$250</span>
                <span>Kitty Cat Cafe</span>
                <div style="font-size:xx-small">
                    <div class="glyphicon glyphicon-star" style="font-size:small"></div>
                    <div class="glyphicon glyphicon-star" style="font-size:small"></div>
                    <div class="glyphicon glyphicon-star" style="font-size:small"></div>
                    <div class="glyphicon glyphicon-star" style="font-size:small"></div>
                    <div class="glyphicon glyphicon-star" style="font-size:small"></div>
                    <span style="font-size:small">1058 reviews</span>
                </div>
            </div>
        </div>

        <div class="col-lg-4" style="font-size:xx-small">
            <img src="http://p4.isanook.com/tr/0/rp/r/w525/ya0xa0m1w0/aHR0cDovL3A0LmlzYW5vb2suY29tL3RyLzAvdWQvMjc5LzEzOTU4OTMvNzIuanBn.jpg" style="width:300px; height:200px;">
            <div style="font-size:medium">
                <span>$160</span>
                <span>Carameow Cat Cafe</span>
                <div style="font-size:xx-small">
                    <div class="glyphicon glyphicon-star" style="font-size:small"></div>
                    <div class="glyphicon glyphicon-star" style="font-size:small"></div>
                    <div class="glyphicon glyphicon-star" style="font-size:small"></div>
                    <div class="glyphicon glyphicon-star" style="font-size:small"></div>
                    <div class="glyphicon glyphicon-star-empty" style="font-size:small"></div>
                    <span style="font-size:small">2056 reviews</span>
                </div>
            </div>
        </div>

        <div class="col-lg-4" style="font-size:xx-small">
            <img src="http://www.undubzapp.com/wp-content/uploads/2016/07/cat-4.jpg" style="width:300px; height:200px;">
            <div style="font-size:medium">
                <span>$100</span>
                <span>Chico design bangkok</span>
                <div style="font-size:xx-small">
                    <div class="glyphicon glyphicon-star" style="font-size:small"></div>
                    <div class="glyphicon glyphicon-star" style="font-size:small"></div>
                    <div class="glyphicon glyphicon-star" style="font-size:small"></div>
                    <div class="glyphicon glyphicon-star" style="font-size:small"></div>
                    <div class="glyphicon glyphicon-star-empty" style="font-size:small"></div>
                    <span style="font-size:small">4096 reviews</span>
                </div>
            </div>
        </div>

        <div class="col-lg-4" style="font-size:xx-small">
            <img src="http://www.undubzapp.com/wp-content/uploads/2016/07/cat-9.jpg" style="width:300px; height:200px;">
            <div style="font-size:medium">
                <span>$210</span>
                <span>Makura Cat Cafe</span>
                <div style="font-size:xx-small">
                    <div class="glyphicon glyphicon-star" style="font-size:small"></div>
                    <div class="glyphicon glyphicon-star" style="font-size:small"></div>
                    <div class="glyphicon glyphicon-star" style="font-size:small"></div>
                    <div class="glyphicon glyphicon-star" style="font-size:small"></div>
                    <div class="glyphicon glyphicon-star" style="font-size:small"></div>
                    <span style="font-size:small">7020 reviews</span>
                </div>
            </div>
        </div>

    
    </div>
</body>
</html>
