@{
    ViewBag.Title = "Booking"; 
} 
<h2> Cat Cafe by Dome </h2>  
<!DOCTYPE html>  
<html>  
    <head>  
        <metaname = "viewport"content = "width=device-width"/> 
        <title></title>  
    </head>  
    <body>  
        <div class = "container-fluid"style = "border:1px solid #cecece;">  
            <div class = "row col-md-6">  
            <br />  
            <center>  
                <img src = "http://p4.isanook.com/tr/0/rp/r/w600/ya0xa0m1w0/aHR0cDovL3A0LmlzYW5vb2suY29tL3RyLzAvdWQvMjc5LzEzOTU4OTMvNTIuanBn.jpg" style="width:60%" /> 
            </center>  
              <br/>
        </div>  
        <div class = "row col-md-6">  
        <br />  
        <div>  
            <form class = "form-inline">  
                <div class = "col-md-12 form-group">  
                 <span style = "padding: 0 20px"></span >  
                 <span> Check In </span>  
                 <span style = "padding: 0 30px"></span >  
                 <input class = "form-control"style = "padding-left:5em"type = "date"id = "checkinDate"onchange = "myFunction()"/>  
                 </div >  
            </form>  
            <br /><br /> 
            <form class = "form-inline">  
                <div class = "col-md-12 form-group" >  
                    <span style = "padding: 0 20px" ></span > 
                     <span > Check Out </span >  
                     <span style = "padding: 0 24px" ></span >  
                     <input class = "form-control"style = "padding-left:5em"type = "date"id = "checkoutDate"onchange = "myFunction()"/>  
                     </div > 
            </form >  
            <br /><br /> 
            <form class = "form-inline" >  
                <div class = "col-md-12 form-group" > 
                    <span style = "padding: 0 20px" ></span >  
                    <span > Guests </span >  
                    <span style = "padding: 0 35px" ></span >  
                    <input class = "form-control"style = "padding-left:3em"type = "number"id = "guests"value = "1"min = "1"max = "5"placeholder = "1 Guest"onchange = "myFunction()"/>  
                    </div >  
            </form >  
            <div class = "col-md-12" >  
                <br />  
                <span style = "padding: 0 20px" ></span > 
                120฿ x <span id = "diff" > 0 </span > days =  <span id = "price" > 0 </span > ฿ <br />  
                <span style = "padding: 0 20px" ></span > 
                Total: <span id = "price_total" > 0 </span > ฿ </div >  <br />  
                <span style = "padding: 0 85px" ></span >  
                <input type = "button"class = "btn btn-default"value = "Book Now"onclick = "location.href='<%: @Url.Action("Book", "CafeController" ) %>'" />  </div >  
                <br />  
                <script type = "text/javascript" > 
                    document.getElementById('checkinDate').valueAsDate = new Date(); 
                    document.getElementById('checkoutDate').valueAsDate = new Date(); 
                    myFunction = function () {

                        var chkInDate = new Date(document.getElementById("checkinDate").value); 
                        var chkOutDate = new Date(document.getElementById("checkoutDate").value); 
                        var totalGuests = (document.getElementById("guests").value); 
                        if (chkOutDate.getTime() > chkInDate.getTime()) {
                            var timeDiff = Math.abs(chkOutDate.getTime() - chkInDate.getTime()); 
                            var diffDays = Math.ceil(timeDiff / (1000 * 3600 * 24)); 
                            document.getElementById("diff").innerHTML = diffDays; 

                            var price = 120 * diffDays; 
                            document.getElementById("price").innerHTML = price; 
                            document.getElementById("price_total").innerHTML = price * totalGuests; 
                        }
                    } 
                </script>  
            </div >  
            <br />  
            <div >  
                <center >  
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15506.60604740947!2d100.6101007!3d13.678942!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x3bd357ec3e882abb!2sCat+Cafe+by+Dome!5e0!3m2!1sen!2sth!4v1503086163577" width="900" height="400" frameborder="0" style="border:0" allowfullscreen></iframe> 
                </center > 
                <br />  
            </div > 
        </div > 
    </body >  
</html > 
