@{
    ViewBag.Title = "Booking"; 
} 
<h2> Cat Hoteru </h2>  
<!DOCTYPE html>  
<html>  
    <head>  
        <metaname = "viewport"content = "width=device-width"/> 
        <title></title>  
    </head>  
    <body>  
        <div class = "container-fluid"style = "border:1px solid #cecece;">  
            <div class = "row col-md-6">  
            <br />  
            <center>  
                <img src = "http://static.wixstatic.com/media/a5b543_2ced27c6964e482eae7d024ed2750bd3.jpg_srz_4896_3264_85_22_0.50_1.20_0.00_jpg_srz" style="width:60%" /> 
            </center>  
        </div>  
        <div class = "row col-md-6">  
        <br />  
        <div>  
            <form class = "form-inline">  
                <div class = "col-md-12 form-group">  
                 <span style = "padding: 0 20px"></span >  
                 <span> Check In </span>  
                 <span style = "padding: 0 30px"></span >  
                 <input class = "form-control"style = "padding-left:5em"type = "date"id = "checkinDate"onchange = "myFunction()"/>  
                 </div >  
            </form>  
            <br /><br /> 
            <form class = "form-inline">  
                <div class = "col-md-12 form-group" >  
                    <span style = "padding: 0 20px" ></span > 
                     <span > Check Out </span >  
                     <span style = "padding: 0 24px" ></span >  
                     <input class = "form-control"style = "padding-left:5em"type = "date"id = "checkoutDate"onchange = "myFunction()"/>  
                     </div > 
            </form >  
            <br /><br /> 
            <form class = "form-inline" >  
                <div class = "col-md-12 form-group" > 
                    <span style = "padding: 0 20px" ></span >  
                    <span > Guests </span >  
                    <span style = "padding: 0 35px" ></span >  
                    <input class = "form-control"style = "padding-left:3em"type = "number"id = "guests"value = "1"min = "1"max = "5"placeholder = "1 Guest"onchange = "myFunction()"/>  
                    </div >  
            </form >  
            <div class = "col-md-12" >  
                <br />  
                <span style = "padding: 0 20px" ></span > 
                380฿ x <span id = "diff" > 0 </span > days =  <span id = "price" > 0 </span > ฿ <br />  
                <span style = "padding: 0 20px" ></span > 
                Total: <span id = "price_total" > 0 </span > ฿ </div >  <br />  
                <span style = "padding: 0 85px" ></span >  
                <input type = "button"class = "btn btn-default"value = "Book Now"onclick = "location.href='@Url.Action("BookingSuccess", "Book" )'" />   
        </div >  
                <br />  
                <script type = "text/javascript" > 
                    document.getElementById('checkinDate').valueAsDate = new Date(); 
                    document.getElementById('checkoutDate').valueAsDate = new Date(); 
                    myFunction = function () {

                        var chkInDate = new Date(document.getElementById("checkinDate").value); 
                        var chkOutDate = new Date(document.getElementById("checkoutDate").value); 
                        var totalGuests = (document.getElementById("guests").value); 
                        if (chkOutDate.getTime() > chkInDate.getTime()) {
                            var timeDiff = Math.abs(chkOutDate.getTime() - chkInDate.getTime()); 
                            var diffDays = Math.ceil(timeDiff / (1000 * 3600 * 24)); 
                            document.getElementById("diff").innerHTML = diffDays; 

                            var price = 380 * diffDays; 
                            document.getElementById("price").innerHTML = price; 
                            document.getElementById("price_total").innerHTML = price * totalGuests; 
                        }
                    } 
                </script>  
            </div >  
            <br />  
            <div >  
                <center >  
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3873.1642001015266!2d100.60317331373119!3d13.889128197840964!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30e282bda96f47df%3A0xd6a4fa42eb87fe05!2zQ2F0IEhvdGVydSAo4Lij4Lix4Lia4Lid4Liy4LiB4LmA4Lil4Li14LmJ4Lii4LiH4LmB4Lih4LinIOC5guC4o-C4h-C5geC4o-C4oeC5geC4oeC4pyk!5e0!3m2!1sen!2sth!4v1503087439195" width="900" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>                
                </center > 
                <br />  
            </div > 
        </div > 
    </body >  
</html > 
