@{
    ViewBag.Title = "Booking"; 
} 
<h2> JoYu Cat Hotel </h2>  
<!DOCTYPE html>  
<html>  
    <head>  
        <metaname = "viewport"content = "width=device-width"/> 
        <title></title>  
    </head>  
    <body>  
        <div class = "container-fluid"style = "border:1px solid #cecece;">  
            <div class = "row col-md-6">  
            <br />  
            <center>  
                <img src = "http://ca.lnwfile.com/_/ca/_raw/n1/6x/hl.jpg" style="width:60%" /> 
            </center>  
            <br/>
        </div>  
        <div class = "row col-md-6">  
        <br />  
        <div>  
            <form class = "form-inline">  
                <div class = "col-md-12 form-group">  
                 <span style = "padding: 0 20px"></span >  
                 <span> Check In </span>  
                 <span style = "padding: 0 30px"></span >  
                 <input class = "form-control"style = "padding-left:5em"type = "date"id = "checkinDate"onchange = "myFunction()"/>  
                 </div >  
            </form>  
            <br /><br /> 
            <form class = "form-inline">  
                <div class = "col-md-12 form-group" >  
                    <span style = "padding: 0 20px" ></span > 
                     <span > Check Out </span >  
                     <span style = "padding: 0 24px" ></span >  
                     <input class = "form-control"style = "padding-left:5em"type = "date"id = "checkoutDate"onchange = "myFunction()"/>  
                     </div > 
            </form >  
            <br /><br /> 
            <form class = "form-inline" >  
                <div class = "col-md-12 form-group" > 
                    <span style = "padding: 0 20px" ></span >  
                    <span > Guests </span >  
                    <span style = "padding: 0 35px" ></span >  
                    <input class = "form-control"style = "padding-left:3em"type = "number"id = "guests"value = "1"min = "1"max = "5"placeholder = "1 Guest"onchange = "myFunction()"/>  
                    </div >  
            </form >  
            <div class = "col-md-12" >  
                <br />  
                <span style = "padding: 0 20px" ></span > 
                360฿ x <span id = "diff" > 0 </span > days =  <span id = "price" > 0 </span > ฿ <br />  
                <span style = "padding: 0 20px" ></span > 
                Total: <span id = "price_total" > 0 </span > ฿ </div >  <br />  
                <span style = "padding: 0 85px" ></span >  
                <input type = "button"class = "btn btn-default"value = "Book Now"onclick = "location.href='@Url.Action("BookingSuccess", "Book" )'" />   
        </div >  
                <br />  
                <script type = "text/javascript" > 
                    document.getElementById('checkinDate').valueAsDate = new Date(); 
                    document.getElementById('checkoutDate').valueAsDate = new Date(); 
                    myFunction = function () {

                        var chkInDate = new Date(document.getElementById("checkinDate").value); 
                        var chkOutDate = new Date(document.getElementById("checkoutDate").value); 
                        var totalGuests = (document.getElementById("guests").value); 
                        if (chkOutDate.getTime() > chkInDate.getTime()) {
                            var timeDiff = Math.abs(chkOutDate.getTime() - chkInDate.getTime()); 
                            var diffDays = Math.ceil(timeDiff / (1000 * 3600 * 24)); 
                            document.getElementById("diff").innerHTML = diffDays; 

                            var price = 360 * diffDays; 
                            document.getElementById("price").innerHTML = price; 
                            document.getElementById("price_total").innerHTML = price * totalGuests; 
                        }
                    } 
                </script>  
            </div >  
            <br />  
            <div >  
                <center >  
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3873.9648047919763!2d100.64656031373062!3d13.841151198948339!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x311d62e99c450b6d%3A0x8acd61cb0187fd9f!2zSm9ZdSBDYXQgSG90ZWwg4LmC4Lij4LiH4LmB4Lij4Lih4LmB4Lih4Lin4LmC4LiI4Lii4Li4!5e0!3m2!1sen!2sth!4v1503087651822" width="900" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>                
                </center > 
                <br />  
            </div > 
        </div > 
    </body >  
</html > 
