@{
    ViewBag.Title = "Booking"; 
} 
<h2> Sky petShop </h2>  
<!DOCTYPE html>  
<html>  
    <head>  
        <metaname = "viewport"content = "width=device-width"/> 
        <title></title>  
    </head>  
    <body>  
        @{
            int price = 400;
            int timedDiff = 1;
        }
        <div class = "container-fluid"style = "border:1px solid #cecece;">  
            <div class = "row col-md-6">  
            <br />  
            <center>  
                <img src = "http://www.skypetshop.com/wp-content/uploads/2015/09/PetTel-Skypetshop.jpg" style="width:60%" /> 
            </center>  
        </div>  
        <div class = "row col-md-6">  
        <br />  
        <div>  
            <form class = "form-inline">  
                <div class = "col-md-12 form-group">  
                 <span style = "padding: 0 20px"></span >  
                 <span> Check In </span>  
                 <span style = "padding: 0 30px"></span >  
                 <input class = "form-control"style = "padding-left:5em"type = "date"id = "checkinDate"onchange = "myFunction()"/>  
                 </div >  
            </form>  
            <br /><br /> 
            <form class = "form-inline">  
                <div class = "col-md-12 form-group" >  
                    <span style = "padding: 0 20px" ></span > 
                     <span > Check Out </span >  
                     <span style = "padding: 0 24px" ></span >  
                     <input class = "form-control"style = "padding-left:5em"type = "date"id = "checkoutDate"onchange = "myFunction()"/>  
                     </div > 
            </form >  
            <br /><br /> 
            <form class = "form-inline" >  
                <div class = "col-md-12 form-group" > 
                    <span style = "padding: 0 20px" ></span >  
                    <span > Guests </span >  
                    <span style = "padding: 0 35px" ></span >  
                    <input class = "form-control"style = "padding-left:3em"type = "number"id = "guests"value = "1"min = "1"max = "5"placeholder = "1 Guest"onchange = "myFunction()"/>  
                    </div >  
            </form >  
            <div class = "col-md-12" >  
                <br />  
                <span style = "padding: 0 20px" ></span > 
                @price ฿ x <span id="diff"> @timedDiff </span> days = <span id="price"> @price </span> ฿ <br />
                <span style="padding: 0 20px"></span>
                Total: <span id="price_total"> @price </span> ฿    
                </div>  <br />
                <span style = "padding: 0 85px" ></span >  
                <input type = "button"class = "btn btn-default"value = "Book Now"onclick = "location.href='@Url.Action("BookingSuccess", "Book" )'" />   
        </div >  
                <br />  
                <script type = "text/javascript" > 
                     var today = new Date();
                var dd = today.getDate();
                var mm = today.getMonth()+1; //January is 0!
                var yyyy = today.getFullYear();
                if(dd<10){
                    dd='0'+dd
                } 
                if(mm<10){
                    mm='0'+mm
                } 

                today = yyyy+'-'+mm+'-'+dd;
                document.getElementById("checkinDate").setAttribute("min", today);
                document.getElementById("checkoutDate").setAttribute("min", today);

                document.getElementById('checkinDate').valueAsDate = new Date();
                document.getElementById('checkoutDate').valueAsDate = new Date();
                
                var chkInDate;
                var chkOutDate;
                var totalGuests;
                var timeDiff = @timedDiff;
                var price = @price;
                myFunction = function () {
                    chkInDate = new Date(document.getElementById("checkinDate").value);
                    chkOutDate = new Date(document.getElementById("checkoutDate").value);
                    totalGuests = (document.getElementById("guests").value);
                    
                    timeDiff = Math.abs(chkOutDate.getTime() - chkInDate.getTime());
                    diffDays = Math.ceil(timeDiff / (1000 * 3600 * 24));
                    if (chkOutDate.getTime() > chkInDate.getTime()) {
                        price = @price * diffDays;             
                    }else if(chkOutDate.getTime() == chkInDate.getTime()){
                        diffDays = @timedDiff;
                        price = @price;
                    }else if(chkOutDate.getTime() < chkInDate.getTime()){
                        diffDays = @timedDiff;
                        document.getElementById('checkoutDate').valueAsDate = document.getElementById('checkinDate').valueAsDate;
                    }
                    document.getElementById("diff").innerHTML = diffDays;
                    document.getElementById("price").innerHTML = price;
                    document.getElementById("price_total").innerHTML = price * totalGuests;
                }
                </script>  
            </div >  
            <br />  
            <div >  
                <center >  
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3876.187332907559!2d100.52940131372898!3d13.707101202023345!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30e29f4b6e7788ef%3A0x2b909aeb21dabf6e!2zU0tZIFBldHNob3Ag4Lij4LmJ4Liy4LiZ4LiC4Liy4Lii4Lit4Liy4Lir4Liy4Lij4Liq4Lix4LiV4Lin4LmMIOC5geC4peC4sOC4o-C4seC4muC4neC4suC4geC5gOC4peC4teC5ieC4ouC4hw!5e0!3m2!1sen!2sth!4v1503087545802" width="900" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>                
                </center > 
                <br />  
            </div > 
        </div > 
    </body >  
</html > 
