@{
    ViewBag.Title = "Booking Complete";
}
<h2>Your Booking is Complete</h2>
<div class="row" style="font-family:Verdana">
    <div class="col-md-12">
    Thank You @ViewBag.User
    </div>
</div>
 <br/>
<input type = "button"class = "btn btn-default"value = "Home" onclick = "location.href='@Url.Action("index", "Home" )'" /> 
   
