@{
    ViewBag.Title = "Booking Complete";
}
<h2>@ViewBag.Title</h2>
<div class="row" style="font-family:Verdana">
    @ViewBag.User
</div>
<input type = "button"class = "btn btn-default"value = "Back" onclick = "location.href='@Url.Action("index", "Home" )'" /> 
   
